
@font-face {
	font-family: "Stilu-Regular";
	src: url("../fonts/Stilu-Regular.otf");
}

body{
	background: rgb(123, 212, 254);
	font-family: "Stilu-Regular";
	overflow:hidden; /*Tirar a barra de rolagem*/
	height: 700px;
}

.metade-esquerda{
	width: 50%;
	background: url(../img/relatorio/capa.jpg);
	background-size:cover;
	height:667px;
	position: fixed;
	left: 1px;

}

.metade-direita{
	width: 50%;
	height: 667px;
	background: url(../img/relatorio/capa2.jpg);/*-image: url(../img/fundo-2.png);*/
	position: fixed;
	right:1px;
	color: #BCBCBC;
	background-size:cover;
}

.logo{
	width: 90px;
	height: auto;
	position: absolute;
	background: #fff;
	left: 46.3%;
	top: 45%;
}

.logo img{

	width: 70px;
	height: auto;
	padding:15px;
	background-color: #FFF;
	position: fixed;
	z-index: 1000;
}

.go-to{
	width: 50px;
	height: 50px;
	border-radius: 30px;
    cursor:pointer;
	position: fixed;
	z-index: 1003;
	left:48.15%;
	top:90%;
	text-align: center;
	padding-bottom:0px;
	visibility: visible;
}

.go-to i{
	color:#ccc;
	margin-top: 10px;
	font-size: 3em;
}

.go-to:hover i{
	color:#999;
	text-decoration: none;
}

.go-top{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	cursor:pointer;
	position: fixed;
	z-index: 1003;
	left:48.15%;
	top:3%;
	text-align: center;
	padding-bottom:0px;
	visibility: hidden;
}
.go-top i{
	color:#ccc;
	margin-top: 10px;
}

.go-top:hover i{
	color:#999;
	text-decoration: none;
}

#direcao {
	position: fixed;
	top: 0px;
}

.conteudo-esquerda{
	margin-top: 10px;
	z-index: 1000;
	position: fixed;

	width: 40px;

}
.conteudo-direita{
	text-align: center;
}

.conteudo-direita-capa{
	margin-top: 150px;
	z-index: 1005;
	text-align: center;
	width:50%;
	position: relative;
	display: inline-block;
}
.conteudo-direita-capa a{
	color: #FFF;
	text-decoration: none;
	text-shadow: 0.1em 0.1em #333
}

.encapsulador-conteudo{	
	width:70%;
	margin: 0 auto;
	margin-top: 200px;
	z-index: 1002;
	position: relative;
	color: #000;
}

h1{
	font-size: 58px;
	padding: 18px;
	line-height: 58px;
}

p{
	padding: 15px;
}

.time-line i{
	z-index: 1000;
	position:relative;
	color: #fff;
	margin-top: 0px;
	margin-left: -6px;
	margin-bottom: 6px;
}

.time-line li:hover{
	cursor:pointer;
}

.time-line{
	text-align: center;
}

.time-line {
	margin: 65px 25px;
    content: "";
    position: fixed;
   	height: 600px;
  	border-radius: 10px;
    background: rgba(255,255,255);
    visibility: hidden;
}

table{
		height: 100%;
}

td{
	padding: 0px 30px 90px;
}

 ul {
	list-style: none;
}

li{
	line-height: 13px;
    margin-bottom: 4px;
}

.background-icones{
	position:absolute;
	z-index: 1001;
	height: 667px;
}

#fotob{
	width: 20px;
	height: 20px;
}

#foto3{
	width: 20px;
	height: 9px;
	opacity: 0.8;
}

#foto6{
	width: 33px;
	height: 15px;
	opacity: 0.08;
}

.botao{
	padding: 5px 30px;
	color:#333;
	font-size:18px;
	font-weight: bold;
	text-decoration: none;
	border: 3px solid #444;
	visibility: hidden;
}

.botao:hover{
	padding: 5px 30px;
	color:#333;
	font-size:18px;
	font-weight: bold;
	text-decoration: none;
	border: 4px solid black;
}

.voltarInicio{
	z-index: 1001;
	float: right;
	padding: 5px 25px;
	color:#000;
	font-size:18px;
	font-weight: bold;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0);
}

.voltarInicio:hover{
	padding: 5px 30px;
	color:#000;
	background-color: #000;
	font-size:18px;
	font-weight: bold;
	text-decoration: none;
}

.voltarTopo{
	z-index: 1001;
	float: right;
	padding: 5px 25px;
	color:#000;
	font-size:18px;
	font-weight: bold;
	text-decoration: none;
	visibility: hidden;
}

.voltarTopo:hover{
	padding: 5px 30px;
	color:#fff;
	background-color: #2D61AA;
	font-size:18px;
	font-weight: bold;
	text-decoration: none;
}

.lista-conteudos{
	text-align: center;
	margin-bottom:20px; 
}

.lista-conteudos li{
	padding: 20px;
}

.list_effect1,.list_effect2,.list_effect3,.list_effect4,.list_effect5,.list_effect6,
.list_effect7,.list_effect8,.list_effect9,.list_effect10,.list_effect11,.list_effect12,
.list_effect13,.list_effect14,.list_effect15,.list_effect16,.list_effect17,.list_effect18,
.list_effect19,.list_effect20,.list_effect21,.list_effect22,.list_effect23,.list_effect24,
.list_effect25,.list_effect26,.list_effect27,.list_effect28{
	float:right;
	font-size:14px;
	padding-top: '';
	font-weight:bold;
	font-style:normal;
	margin-left:15px;
	text-align:left; 
	width:200px;  
	opacity: 0;
	font-family: Stilu-Regular;
}

#tr-top td{
	padding-top: 20px;
}

#tr-bottom td{
	padding-bottom: 0px;
}

#menu{
	padding-top: 30px;
	padding-bottom: 60px;
}

#voltarTopo{
	visibility: hidden;
}

.fa-circle{
	color: rgba(52, 120, 203, 0.13);
}

.h3{

	font-family: "Stilu-Regular";
}

.icone1{
	color: rgba(187, 187, 187, 0.23);
}


/* ========== CONTEÚDOS RESPONSIVOS=========*/
.content-responsivo-1{
	background: url(../img/relatorio/apresentacao.jpg);
	background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
}
.content-responsivo-2{
		background: url(../img/relatorio/reitor.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;

}
.content-responsivo-3{
		background: url(../img/relatorio/numeros.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-4{
		background: url(../img/relatorio/Objetivo.jpg);
			background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;

}
.content-responsivo-5{background: url(../img/relatorio/tecnologia.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-6{background: url(../img/relatorio/atuacao.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-7{background: url(../img/relatorio/Meta.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-8{background: url(../img/relatorio/Atividades.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-9{background: url(../img/relatorio/Ensino.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-10{background: url(../img/relatorio/cead.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-11{background: url(../img/relatorio/pesquisa.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-12{background: url(../img/relatorio/pos.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-13{background: url(../img/relatorio/pgf.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-14{background: url(../img/relatorio/hospital.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-15{background: url(../img/relatorio/extensao.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-16{background: url(../img/relatorio/Biblioteca.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-17{	background: url(../img/relatorio/Editora.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;

}
.content-responsivo-18{background: url(../img/relatorio/Documentacao.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-19{background: url(../img/relatorio/Imprensa.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-20{background: url(../img/relatorio/Radio.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-21{background: url(../img/relatorio/Cotec.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}

.content-responsivo-23{background: url(../img/relatorio/intercambio.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-24{background: url(../img/relatorio/ipc.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-25{background: url(../img/relatorio/juridico.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-26{background: url(../img/relatorio/avaliacao.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-27{background: url(../img/relatorio/tecnologia.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-28{background: url(../img/relatorio/sustentabilidade.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.content-responsivo-22{background: url(../img/relatorio/Hino.jpg);
		background-repeat: no-repeat;
	 background-size: 100% 100%;
	height: 500px;
	
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators{
	visibility: hidden;
}

.carousel-control{
	font-size: 40px;
}

#titleModal{
	padding: 0cm 2cm 0cm 2cm;
	text-align: center;

}

#textoModal{
	padding: 0cm 2cm 0cm 2cm;
	text-align: justify;
	line-height: 1.5em;
}

#subtitleModal{
	padding: 0cm 2cm 0cm 2cm;
	text-align: center;
	font-weight: bold;
}

#listaModal{
	line-height: 25px;
}

#iconeModal{
	font-size: 13px;
}

.left,.right{
	position: fixed;
	top:50%;}

#imagemModalMedio{
	width: 400px;
	height: 200px;
}
#tituloTabela th{
	text-align: center;
	font-weight: bolder;

}